= form_for @movie, html: { class: 'ui form' } do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this movie from being saved:
      %ul
        - @movie.errors.full_messages.each do |message|
          %li= message
  .field
    .label= f.label :description
    = f.text_field :description
  .field
    .label= f.label :start
    = f.text_field :start, class: 'date-input'
  .field
    .label= f.label :end
    = f.text_field :end, class: 'date-input'
  .inline.field
    .ui.checkbox
    = f.check_box :movie_ready
    .label= f.label :movie_ready
  .ui.submit.button
    = f.submit 'Speichern'

:coffeescript
  $('.date-input').dateRangePicker
    singleDate: true,
    startOfWeek: 'monday',
    autoClose: true,
    format: 'DD.MM.YYYY'
