%h2.ui.header
  %i.film.icon
  .content
    Video

%video.video-js.vjs-default-skin#player{controls: true, preload: 'auto', width: '640', height: '264'}

.two.ui.buttons
  %button.ui.left.labled.tiny.icon.basic.button.seek-backwards
    %i.angle.double.left.icon
    10s zurück
  %button.ui.right.labled.tiny.icon.basic.button.seek-forward
    10s vor
    %i.angle.double.right.icon

.ui.divider

%button.fluid.ui.blue.button#mark
  Neuer Abschnitt

#chapterarea
  = render partial: 'chapter_form', collection: @movie.chapters.order("created_at DESC"), as: :chapter

.ui.form.chapter#template
  %input{type: 'hidden', name: 'mark-id', class: 'mark-id-input'}
  %input{type: 'hidden', name: 'offset', class: 'offset-input'}
  .inline.fields
    .ten.wide.field
      .ui.large.label.time 2:03
      %input{type: 'text', placeholder: 'Was passiert?', name: 'description', class: 'description-input'}
    .six.wide.field
      %input{type: 'text', placeholder: 'Datum', name: 'date', class: 'date-input'}
      .ui.red.icon.button.delete-button
        %i.delete.icon
      .ui.green.icon.button.save-button
        %i.checkmark.icon
      %i.save.icon

:coffeescript
  $(document).ready () ->

    $('#template').hide()

    movie_id = "#{@movie.id}"
    player = null
    aspectRatio = 264/640

    secondsTimeSpanToHMS = (s) ->
      h = Math.floor(s / 3600)
      s -= h * 3600
      m = Math.floor(s / 60)
      s -= m * 60
      h + ':' + (if m < 10 then '0' + m else m) + ':' + (if s < 10 then '0' + s else s)

    saveMark = (description, date, offset, chapter) ->
      chapter.find('.save-button').addClass('loading')
      $.post("/movies/#{@movie.id}/chapters.json",
        chapter:
          description: description,
          date: date,
          offset: offset,
          movie_id: movie_id
      ).done (data) ->
        chapter.find('.save').hide()
        chapter.find('.mark-id-input').val(data['id'])
        chapter.find('.save-button').removeClass('loading')

    updateMark = (id, description, date, offset, chapter) ->
      chapter.find('.save-button').addClass('loading')
      $.ajax(
        type: 'PATCH',
        url: "/movies/#{@movie.id}/chapters/" + id + ".json",
        data:
          chapter:
            description: description,
            date: date
      ).done (data) ->
        chapter.find('.save').hide()
        chapter.find('.save-button').removeClass('loading')

    deleteMark = (id, chapter) ->
      chapter.find('.save-button').addClass('loading')
      $.ajax(
        type: 'DELETE',
        url: "/movies/#{@movie.id}/chapters/" + id + ".json"
      ).done (data) ->
        chapter.find('.save-button').removeClass('loading')

    videojs('player').ready () ->
      player = this
      player.src({ type: "#{@movie.content_type}", src: "#{@movie.public_url}" })

      resizeVideoJS = () ->
        width = document.getElementById('player').parentElement.offsetWidth
        player.width(width).height( width * aspectRatio )

      resizeVideoJS()
      window.onresize = resizeVideoJS

    $('.seek-backwards').on('click', () ->
      currentTime = player.currentTime()
      player.currentTime(currentTime - 10)
    )

    $('.seek-forward').on('click', () ->
      currentTime = player.currentTime()
      player.currentTime(currentTime + 10)
    )

    $('.save-button').on('click', () ->
      chapter = $(this).parents('.chapter')
      description = chapter.find('.description-input').val()
      date = chapter.find('.date-input').val()
      offset = chapter.find('.offset-input').val()
      markId = chapter.find('.mark-id-input').val()
      if markId == '0'
        saveMark(description, date, offset, chapter)
      else
        updateMark(markId, description, date, offset, chapter)
    )
    $('.delete-button').on('click', () ->
      chapter = $(this).parents('.chapter')
      markId = chapter.find('.mark-id-input').val()
      deleteMark(markId, chapter)
      chapter.hide()
    )

    $('.chapter').find('.save.icon').hide()

    $('.chapter').find('input').on('keydown', () ->
      $(this).parents('.chapter').find('.save.icon').show()
    )

    $('#mark').on('click', () ->
      currentTime = player.currentTime()
      template = $('#template')
      newChapter = template.clone()
      newChapter.removeAttr('id')
      newChapter.find('.time')[0].innerHTML = secondsTimeSpanToHMS(Math.round(currentTime))
      newChapter.find('.offset-input').val(Math.round(currentTime))
      newChapter.find('.mark-id-input').val('0')
      newChapter.find('.description-input').val('')
      newChapter.find('.save.icon').show()

      newChapter.prependTo('#chapterarea').show()
      newChapter.find('.description-input').focus()

      saveButton = newChapter.find('.save-button')
      saveButton.on('click', () ->
        description = newChapter.find('.description-input').val()
        date = newChapter.find('.date-input').val()
        offset = newChapter.find('.offset-input').val()
        markId = newChapter.find('.mark-id-input').val()
        if markId == '0'
          saveMark(description, date, offset, newChapter)
        else
          updateMark(markId, description, date, offset, newChapter)
      )
      deleteButton = newChapter.find('.delete-button')
      deleteButton.on('click', () ->
        markId = newChapter.find('.mark-id-input').val()
        if markId != '0'
          deleteMark(markId, newChapter)
        newChapter.hide()
      )

      dateInput = newChapter.find('.date-input')
      dateInput.dateRangePicker
        singleDate: true,
        startOfWeek: 'monday',
        autoClose: true,
        format: 'DD.MM.YYYY'


    )
