%h2.ui.header
  %i.film.icon
  .content
    Videos
    .sub.header Familienvideos

.ui.items
  - @movies.each do |movie|
    .item
      .image
        = image_tag 'http://semantic-ui.com/images/wireframe/image.png'
        .extra
          = link_to movie do
            .ui.label Öffnen
          = link_to edit_movie_path(movie) do
            .ui.label Bearbeiten
      .content
        .header
          = number_to_human_size movie.filesize
        .meta
          = l movie.created_at
        .description
          .ui.list
            = render partial: 'small_chapter', collection: movie.chapters, as: :chapter
