%h2.ui.header
  %i.film.icon
  .content
    Videos
    .sub.header Familienvideos

.ui.items
  - @movies.each do |movie|
    .item
      .image
        - if movie.thumbnail_ready
          = image_tag movie.thumbnail_public_url
        - else
          = image_tag 'http://semantic-ui.com/images/wireframe/image.png'
        .extra
          %ul
            %li= link_to 'Öffnen', movie
            %li= link_to 'Bearbeiten', edit_movie_path(movie)
            %li= link_to 'Metadaten bearbeiten', edit_meta_movie_path(movie)
      .content
        .header
          = number_to_human_size movie.filesize
        .meta
          = l movie.created_at
        .description
          .ui.list
            = render partial: 'small_chapter', collection: movie.chapters, as: :chapter
