<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @movie.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @movie.end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
